---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* --- SEM PŘIJDE TVŮJ VLASTNÍ KÓD NA KONCI --- */

/* Změna barvy názvu webu vlevo nahoře */
.site-title {
  color: #e60000 !important;
}

.site-title:hover {
  color: #cc0000 !important;
}

/* Změna barvy textu v menu při najetí */
.greedy-nav a:hover {
  color: #e60000 !important;
}

/* Červené podtržení pod aktivní nebo hover položkou v menu */
.greedy-nav .visible-links a:hover::before,
.greedy-nav .visible-links .active > a::before {
  background: #e60000 !important;
}
