---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Změna barvy názvu webu vlevo nahoře */
.masthead__menu-item.masthead__menu-item--lg a {
  color: #e60000 !important; /* Sytě červená */
}

/* Změna barvy podtržení a textu v menu při najetí myši (hover) */
.greedy-nav a:hover {
  color: #e60000 !important;
}

/* Pokud chceš sytě červenou linku/podtržení pod aktivní nebo hover položkou v menu */
.greedy-nav .visible-links a:hover::before,
.greedy-nav .visible-links .active > a::before {
  background: #e60000 !important;
}
